
.Nav{
  align-items: center;
  display: flex;
  margin: 0px;
  border-bottom: solid 1px;
  border-bottom-color: black;
}
.Nav h1{
  color: orange;

}

.Nav .links{
  margin-left: auto;
  

}

.Nav a{
  margin: auto 10px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.links a:hover{
  background-color: gray;

}
.links a{
  background-color: coral;
}

.content{
  align-items: center;
}

/* CSS for TodoAbout */
.employeeAbout{
  box-shadow: 2px;
}
.employeeAboutId{
  background-color: grey;
  margin: 2px 2px;
}

.employeeAboutId h3{
  font-weight: bold;
  font-size: medium;
  color: orange;
}

.employeeAboutId h5{
  text-align: center;
}

.employeeAboutId button{
  background-color: red;
}

/* css for create */
.CreateWrapper{
  place-items: center;
  display: grid;
  margin: 5px;
  padding: 5px;
  height: 400px ;
}
.CreateWrapper .Create{
  width: 70%;
  height: auto;
}
button{
  background-color: rgb(255, 81, 0);
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.Input-group{
  margin: 10px 0px;
  display: grid;
  
}

.Input-group input{
  background-color: rgba(128, 128, 128, 0.459);
  padding:10px;
  border-radius: 10px;
  border: 0px;

}